<ion-view title="About">
    <ion-content padding="'true'" class="has-header">
        <div class="list card item item-royal">
          <div class="item item-avatar item item-royal">
            <img src="avatar.png">
              <div class="item item-text-wrap item item-royal">
              <h2><span style="color:white; font-size: 1.50em">Mission Statement</span></h2></br>
              <h4><span style="color:white; font-size: 1.2em">As an International Federation our mission is to provide
                the structure and good governance necessary for the well-being and development of the sport of Tug-of-War
                throughout the world. Our Primary Objective is to attain a sufficiently high level of excellence and
                universality to expedite our acceptance by the International Olympic Committee as a sport within the
                programme of the Olympic Games, a status held by our sport since the early years of the 20th century.</span></h4>
<hr>
                <h4><span style="color:yellow; font-size: 1.2em">TWIF Copyright 2015. All rights reserved.</span></h4>
              </div>
          </div>
      </div>
    </br>
    <div class="list card item item-royal">
      <div class="item item-avatar item item-royal">
        <img src="avatar.png">
          <div class="item item-text-wrap item item-royal">
          <h2><span style="color:white; font-size: 1.50em">Contact Details</span></h2></br>
          <h4><span style="color:white; font-size: 1.2em">P O Box 77</span></h4>
          <h4><span style="color:white; font-size: 1.2em">Orfordville</span></h4>
          <h4><span style="color:white; font-size: 1.2em">WISC 53576-0077 USA</span></h4>
          <h4><span style="color:white; font-size: 1.2em">Phone: +1 6088792869</span></h4>
          <h4><span style="color:white; font-size: 1.2em">Website: www.tugowar-twif.org</span></h4>
          <hr>
          <h4><span style="color:yellow; font-size: 1.2em">Access the website via LINKS in this App</span></h4>
          </div>
      </div>
  </div>
  <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
      <img class="full-image" src="css/rope3.jpg" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
  </div>
  <a menu-close="" href="#/page7/page1" class="button button-stable button-block  icon-left ion-android-home">Home</a>
    </ion-content>
</ion-view>
