<ion-view title="About TUE">
    <ion-content padding="'true'" class="has-header">
        <div>
            <p>In accordance with IAAF Rule 34.9, a Therapeutic Use Exemption (TUE) is required whenever an athlete with a documented medical condition requires the use of a prohibited substance or a prohibited method which is listed on the WADA Prohibited
                List.</p>

            <p>This implies that athletes and their doctors are fully aware of the list of prohibited substances contained in the WADA Prohibited List (reviewed annually) and that they pay particular attention to the contents of all pharmaceutical products
                purchased ‘over-the-counter’ or prescribed to them by a doctor.</p>

            <p>If an athlete does not file a TUE application and subsequently tests positive for the prohibited substance, he or she may be found guilty of an anti-doping rule violation and face sanctions under IAAF Rules.</p>

            <p>These Explanatory Notes provide practical information regarding the TUE application process under the IAAF Anti-Doping Rules and Regulations through questions and answers.</p>
        </div>
        <a menu-close="" href="#/page7/page1" class="button button-stable button-block ">Home</a>
    </ion-content>
</ion-view>