<ion-view title="Extra2">
    <ion-content padding="'true'" class="has-header">
        <a menu-close="" href="#/page13" class="button button-stable button-block ">Tap me!</a>
        <div class="button-bar">
            <a menu-close="" href="#/page7/page1" class="button button-stable button-block ">1</a>
            <a menu-close="" href="#/page11" class="button button-stable button-block ">2</a>
            <a menu-close="" href="#/page13" class="button button-stable button-block ">3</a>
        </div>
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        </div>
    </ion-content>
</ion-view>