<ion-view title="Extra1">
    <ion-content padding="'true'" class="has-header">
        <a menu-close="" href="#/page12" class="button button-stable button-block ">Tap me!</a>
        <div class="list">
           <a class="item" href="#" onclick="window.open('http://www.syntagm.co.za/twit/twitter.html', '_system', 'location=yes'); return false;">
               Open a Browser
           </a>
           <a class="item" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_system', 'location=yes'); return false;">
               Open a Twitter Client or Browser
           </a>
           <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
               Open a Google+ Client or Browser
           </a>
       </div>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>
