<ion-view title="FAQ's">
    <ion-content padding="true" class="has-header has-footer">
        <div class="button-bar"></div>
        <div>
            <p>What you will find on this page is an alphabetically ranked list of the most frequently asked questions.</p>

            <p>Click on the question heading and the answer will expand automatically.</p>

            <p>If you don't see the question or the answer you were looking for scroll down to the bottom of the page and ask the question.</p>

            <p>We will ask one of our experts the provide the correct answer. This however may take up to week to research and post. Do please be patient.</p>
        </div>
        <ion-list></ion-list>
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        </div>
        <a href="#/index" class="button button-assertive button-block ">HOME</a>
    </ion-content>
</ion-view>