<ion-view title="Frequently Asked Questions">
    <ion-content padding="'true'" class="has-header">
        <h3>Applying for Exemption</h3>
        <div>
            <p>A TUE application for the use of a substance prohibited in-competition only (see Prohibited List) must be submitted to the IAAF at least 30 days before the competition in question. For the substances prohibited at all times (including out-of-competition),
                the TUE application must in any event be submitted before the use of the prohibited substance.</p>
        </div>
        <a menu-close="" href="#/page7/page1" class="button button-stable button-block ">Home</a>
    </ion-content>
</ion-view>