<ion-view title="Home">
    <ion-content padding="true" class="has-header has-footer">
        <h3>TWIF DEMO</h3>
        <div class="list card">

            <div class="item item-avatar">
                <img src="http://www.syntagm.co.za/images/twif3.png">
                <h2>TWIF</h2>
                <p>October 2015</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="http://www.syntagm.co.za/images/pearson.jpg">
                <p>
                    "TTesting123"
                </p>
                <p>Piti</p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
                <p></p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div
        <h4>Menu</h4>
        <a href="#/page2" class="button button-dark button-block  icon-left ion-android-folder">Frequently Asked Questions</a>
        <a href="#/page3" class="button button-dark button-block ">TWIF News</a>
        <a href="#/page4" class="button button-dark button-block ">About TUE's</a>
        <a href="#/page9" class="button button-dark button-block ">Links</a>
    </ion-content>
</ion-view>
