<ion-view title="Home">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Welcome</div>
            <div class="item item-body"></div>
            <div class="item item-divider">Last updated October 2015</div>
        </div>
        <img src="../img/twif1.png" width="100%" height="auto" style="width: 100%; height: auto;">        
        <a href="#/page2" class="button button-stable button-block ">About</a>
    </ion-content>
</ion-view>
