<ion-view title="Welcome">
      <ion-content class="background3" scroll="true">
        <center><h3>TWIF</h3>
        <p>Tug-of-War Federation</p></center>

        <a menu-close="" href="#/page2" class="button button-stable button-block  icon-left ion-android-attach">About</a>
        <a menu-close="" href="#/page3" class="button button-stable button-block  icon-left ion-android-bulb">TWIF News</a>
        <a menu-close="" href="#/page4" class="button button-stable button-block  icon-left ion-android-clipboard">Questions</a>
        <a menu-close="" href="#/page5" class="button button-stable button-block  icon-left ion-android-checkbox-outline">About TUE</a>
        <a menu-close="" href="#/page6" class="button button-stable button-block  icon-left ion-android-share-alt">Links</a>
        <a menu-close="" href="#/page11" class="button button-stable button-block ">Extras</a>

        <div>
            <p>
                Read our
                <b>Disclaimer</b>
                <u>here</u>
            </p>
        </div>

        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <img class="full-image" src="css/rope2.jpg" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>
