<ion-view title="Links">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="./img/twif1.png">
                <h2>TWIF Links</h2>
                <p>List of prohibited items</p>
            </ion-item>
        </ion-list>
        <div>
            <a class="item item-icon-left" href="http://www.iaaf.org/Antidoping/ProhibitedList">
                <i class="icon ion-email"></i>
                Prohibited List
            </a>
            <img src="../img/twif1.png">
        </div>
        <a href="#/page1" class="button button-stable button-block ">Home</a>
    </ion-content>
</ion-view>
