<ion-view title="Links">
    <ion-content class="background3" scroll="true">
        </br></br>
        <ion-list>
            <!--<ion-item menu-close="" class="item-thumbnail-left">
                <img src="img/X1hdzyM1SpCEpbhkOMjU_twif1.png">
                <h2>TWIF Links</h2>
                <p>List of prohibited items</p>
            </ion-item> -->
        </ion-list></br>
        <div class="list list-inset">
            <a class="item item-icon-left item item-energized" href="#" onclick="window.open('http://www.syntagm.co.za/twit/twitter.html', '_system', 'location=yes'); return true;">
                <i class="icon ion-social-twitter"></i>
                <h2><span style="color:navy; font-size: 1.50em">Twitter Feed</span></h2>
                <p>Use back button to return to app</p>
            </a></br>
            <a class="item item-icon-left item item-energized" href="#" onclick="window.open('http://www.tugofwar-twif.org', '_blank', 'location=yes'); return false;">
                <i class="icon ion-ios-world"></i>
                <h2><span style="color:navy; font-size: 1.50em">Website</span></h2>
                <p>Links to www.tugofwar-twif.org</p>
            </a></br>
            <a class="item item-icon-left item item-energized" href="#" onclick="window.open('http://www.syntagm.co.za/twit/wada2015.pdf', '_system', 'location=yes'); return false;">
                <i class="icon ion-email"></i>
                <h2><span style="color:navy; font-size: 1.50em">Prohibited List</span></h2>
                <p>The links to a downloadable PDF file</p>
            </a></br>

        </div>
      <a menu-close="" href="#/page7/page1" class="button button-stable button-block  icon-left ion-android-home">Home</a>
    </ion-content>
</ion-view>
