<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Menu" icon="ion-ios-gear-outline" href="#/page7/page1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Admin" icon="ion-android-bulb" href="#/page7/page9">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Resources" icon="ion-ios-cloud" href="#/page7/page10">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
