<ion-view title="TWIF News">
    <ion-content padding="'true'" class="has-header">
        <div class="list card">

            <div class="item item-avatar">
                <img src="http://www.syntagm.co.za/images/twif3.png">
                <h2>TWIF News</h2>
                <p>October 05, 2015</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="http://www.syntagm.co.za/images/pearson.jpg">
                <p>
                    "Think of everything this sport has given to you, and pledge yourself to giving back to it. Keep it pure and clean, and keep it true"
                </p>
                <p>Sally pearson (AUS) 100m Hurdles Olympic Champion 2012</p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="http://www.syntagm.co.za/images/twif3">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="http://www.syntagm.co.za/images/twif2">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="http://www.syntagm.co.za/images/twif1">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
      <a menu-close="" href="#/page7/page1" class="button button-stable button-block  icon-left ion-android-home">Home</a>
    </ion-content>
</ion-view>
