<ion-view title="About">
  <ion-content class="background5" scroll="true">
      <a class="item item-text-wrap item-thumbnail-left" href="http://www.theworldgames.org/the-sports/sports/strength-sports/tug-of-war#tug-of-war">
        <img src="img/logo-top.png">
        <a class="twitter-timeline"
        href="https://twitter.com/synAPPS_demo"
        data-widget-id="668826638638010369">
        Tweets by @synAPPS_demo
      </a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </a></br>

        <a href="#/page1" class="button button-stable button-block ">Home</a>
    </ion-content>
</ion-view>
